.songrow {
  margin-left: 20px;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.65fr 1fr 0.5fr 0.35fr;
  gap: 5px;
  align-items: center;
  color: #fff;
}

.songrow:hover {
  cursor: pointer;
  background-color: #000;
  opacity: 0.8;
}

.songrow__info > h1 {
  font-size: 0.875rem;
}

.songrow__info > p,
.songrow__albumName {
  font-size: 0.75rem;
  margin-top: 3px;
  color: lightgrey;
}

.songrow__album {
  height: 40px;
  width: 40px;
}
